.flexDirection{
    background-color: rgb(80, 167, 248);
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}

.flexDirection > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

/* .flexDirection div:first-child{
    background-color: red;
} */

/* .flexDirection div:nth-child(1){
    background-color: red;
} */

.flexWrap{
    background-color: rgb(80, 167, 248);
    display: flex;
    /* flex-wrap:nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    margin:40px 0; 
    /* justify-content: center; */
}
.flexWrap > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.flexFlow{
    background-color: rgb(80, 167, 248);
    display: flex;
    flex-flow: row wrap;


}
.flexFlow > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
    /* flex: 1 1  150px; */
    flex-grow: 1;
}
.flexFlow:first-child{
    flex-grow: 2;
}
.flexFlow:nth-child(2){
    flex-grow: 2;
}
.justifyContent{
    background-color: rgb(80, 167, 248);
    display: flex;
    margin:40px 0; 
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    height: 800px;
}
.justifyContent > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.alignItems{
    background-color: rgb(80, 167, 248);
    display: flex;
    margin:40px 0;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    align-items: baseline;
}
.alignItems > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
}

.alignContent{
    background-color: rgb(80, 167, 248);
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around; */
    /* align-items: stretch; */
    /* align-content: start; */
    /* align-content: center; */
    height: 600px;
}
.alignContent > *{
    background-color: azure;
    margin: 10px;
    padding: 20px;
    width: 100px;
}





.order{
    background-color: rgb(60, 61, 61);
    display: flex;
    margin-top: 30px;
}
.order > *{
    background-color:  rgb(100, 178, 250);
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
}
.order div{
    flex-grow: 1;
}

.a1{
    order: 3;
    transition: all 0.5s ease-in-out;
}
.a2{
    order: 1;
    transition: all 0.5s ease-in-out;
}
.a3{
    order: 1;
    transition: all 0.5s ease-in-out;
    flex-basis: 900px;
   
}

.a1:hover{
    flex-grow: 10;
}
.a2:hover{
    flex-grow: 10;
}
.a3:hover{
    flex-grow: 10;  
    background-color: rgb(241, 175, 175);
}


.shrink{
     background-color: rgb(60, 61, 61);
    display: flex;
    margin-top: 30px;

}
.shrink > *{
    background-color:  rgb(100, 178, 250);
    margin: 10px;
    padding: 20px;
    width: 400px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}


.shrink div{
    flex-grow: 1;
    flex-shrink: 1;
}

.a11:hover{
    flex-shrink:10;
}
.a12:hover{
    flex-shrink:10;
}
.a13:hover{
    flex-shrink:10;
}
